<%= form_for(area) do |f| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :catagory %><br>
    <%= f.text_field :catagory %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :inhabitants %><br>
    <%= f.text_area :inhabitants %>
  </div>
  <div class="field">
    <%= f.label :exploits %><br>
    <%= f.text_area :exploits %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br>
    <%= f.number_field :reputation %>
  <div class="field">
    <label>Upload Path View</label>
    <%= f.file_field :path_view %>
    <%= f.hidden_field :path_view_cache %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="actions">
    <%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="navigation">
    <%= link_to "All area's", areas_path %>
  </div>
<% end %>
