<p id="notice"><%= notice %></p>
<h1>Area information</h1>
<div id="areas_show">
  <table> 
    <thead>
      <tr>
        <th>Name:</th>
        <th>Lat:</th>
        <th>Long:</th>
        <th>Catagory:</th>
        <th>Description:</th>
        <th>Inhabitants:</th>
        <th>Exploits:</th>
        <th>Reputation:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @area.name %></td>
        <td><%= @area.lat %></td>
        <td><%= @area.long %></td>
        <td><%= @area.catagory %></td>
        <td><%= @area.description %></td>
        <td><%= @area.inhabitants %></td>
        <td><%= @area.exploits %></td>
        <td><%= @area.reputation %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="navigation">
<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %> |
<%= link_to "Map View", root_path %>
</div>